<h1>Reset password</h1>

<form action="/password-reset?token=<%=resetData.token %>" method="post">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>">

    <% if(typeof error !=='undefined' ){%>
        <p style="color: red;">
            <%= error %>
        </p>
        <%} %>

            <input type="password" name="password" placeholder="password">
            <br>
            <br>
            <input type="password" name="c_password" placeholder="Confirm Password">
            <br>
            <br>
            <button type="submit">Change Password</button>
</form>